// =============================================================================
// Fonts
// =============================================================================

@for $i from 1 through length($font-names) {
    $weight: nth($font-weights, $i);
    $name: nth($font-names, $i);

    @font-face {
        font-family: 'nexa';
        src: url('#{$font-basepath}/nexa/nexa-#{$name}/nexa-#{$name}.woff2') format('woff2'),
             url('#{$font-basepath}/nexa/nexa-#{$name}/nexa-#{$name}.woff') format('woff');
        font-weight: #{$weight};
        font-style: normal;
    }
}