// =============================================================================
// #STiCKY FOOTER
// https://github.com/philipwalton/solved-by-flexbox/blob/master/assets/css/components/site.css
// =============================================================================
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header,
footer {
    flex: none;
}

main {
    flex: 1 0 auto;
}